{% load static %}
<html>
<head>
    <title>Carnitas Reu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- Blog Header -->
    <div class="page-header">
        <h1><a href="/">Carnitas Reu</a></h1>
    </div>

    <!-- Blog Content -->
    <div>
        <h2><a href="#">Productos</a></h2>
        <p>Lo más fresco lo puedes conseguir aquí</p>
    </div>

    <div class="card text-bg-dark">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIs9IdP9tvJ27EhbwkDCplKTNy5hPaOuF3mQ&s" class="card-img" alt="Carne">
        <div class="card-img-overlay">
            <h5 class="card-title">CARNES</h5>
            <p class="card-text">¡Todo tipo de Carnes para tu hogar!rrr</p>
            
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            <a href="https://example.com/bebidas" class="btn btn-primary">click</a>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="card text-bg-dark">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTysJQHxXqrXrpj6T-G-qg0s18f5rVWY1wE3g&s" class="card-img" alt="Bebidas">
        <div class="card-img-overlay">
            <h5 class="card-title">Bebidas</h5>
            <p class="card-text">¡Refrescate con nuestras bebidas!</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
            <a href="https://example.com/bebidas" class="btn btn-primary">click</a>
                </div>
            </div>
        </div>
